Source: tinyscheme
Section: interpreters
Priority: optional
Maintainer: Panu Kalliokoski <atehwa@sange.fi>
Uploaders: MJ Ray (Debian) <mjr@debian.org>
Build-Depends: debhelper (>= 4.0.0)
Standards-Version: 3.6.2

Package: tinyscheme
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Very small scheme implementation
 TinyScheme is an implementation of the algorithmic language Scheme that
 aims to very small memory footprint while being as close to R5RS as
 practically feasible.  TinyScheme is also a good base for hacking,
 given the implementation's small size, easy gluing with C and code
 being fully reentrant.
 .
 TinyScheme is based on an s-expression evaluator.  This package
 distributes TinyScheme as a standalone executable.
